<div class="window-wrapper">

  <div class="window-area">
    <div class="conversation-list">
      <ul class="">
        <li class="item"><a><i class="fa fa-list-alt"></i><span>Conversaciones</span></a></li>
        <li class="item active"><a><i class="fa fa-circle-o online"></i><span>Messista07</span>
            <i class="circle-xmark">X</i></a></li>
        <li><a href="#"><i class="fa fa-circle-o online"></i><span>Jon Doe</span><i class=" circle-xmark">X</i></a>
        </li>
        <li><a href="#"><i class="fa fa-circle-o idle"></i><span>Luisito</span><i class=" circle-xmark">X</i></a>
        </li>
        <li><a href="#"><i class="fa fa-circle-o offline"></i><span>Clark Kent</span><i class=" circle-xmark">X</i></a>
        </li>
        <li><a href="#"><i class="fa fa-circle-o offline"></i><span>ArgCampeon75</span><i
              class=" circle-xmark">X</i></a>
        </li>
      </ul>
    </div>


    <div class="chat-area">
      <div class="title"><b>Consulta por tu oferta #ID : 37589 - <span class="fs-6">Vendo este sticker de
            CR7.</span></b>
      </div>
      <div class="chat-list">
        <ul>
          <li class="me">
            <div class="name">
              <span class="">Messista07</span>
            </div>
            <div class="message">
              <p>Me gustaria comprar tu figurita, todavia la tienes disponible?</p>
              <span class="msg-time">5:00 pm</span>
            </div>
          </li>
          <li class="">
            <div class="name">
              <span class="">Yo</span>
            </div>
            <div class="message">
              <p><span class="blue-label">Messista07</span> Hola, si todavia esta a la venta.</p>
              <span class="msg-time">5:01 pm</span>
            </div>
          </li>
          <li class="me">
            <div class="name">
              <span class="">Messista07</span>
            </div>
            <div class="message">
              <p>Haces envio a domicilio? vivo en barrio San Martin </p>
              <span class="msg-time">5:02 pm</span>
            </div>
          </li>
          <li class="">
            <div class="name">
              <span class="">Yo</span>
            </div>
            <div class="message">
              <p><span class="blue-label">Messista07</span> Si, hago envios a todo el pais.</p>
              <span class="msg-time">5:03 pm</span>
            </div>
          </li>
          <li class="me">
            <div class="name">
              <span class="">Messista07</span>
            </div>
            <div class="message">
              <p>Perfecto, me interesa, como hacemos para concretar la compra?</p>
              <span class="msg-time">5:04 pm</span>
            </div>
          </li>
          <li class="">
            <div class="name">
              <span class="">Yo</span>
            </div>
            <div class="message">
              <p> Te paso mi numero de telefono y hablamos por
                ahi.</p>
              <span class="msg-time">5:05 pm</span>
            </div>
          </li>
          <li class="me">
            <div class="name">
              <span class="">Messista07</span>
            </div>
            <div class="message">
              <p>Ok, te paso mi numero: 11-1234-5678</p>
              <span class="msg-time">5:06 pm</span>
            </div>
          </li>
          <li class="">
            <div class="name">
              <span class="">Yo</span>
            </div>
            <div class="message">
              <p>Perfecto, te llamo en unos minutos.</p>
              <span class="msg-time">5:07 pm</span>
            </div>
          </li>
          <li class="me">
            <div class="name">
              <span class="">Messista07</span>
            </div>
            <div class="message">
              <p>Ok, te paso mi numero: 11-1234-5678</p>
              <span class="msg-time">5:06 pm</span>
            </div>
          </li>
          <li class="">
            <div class="name">
              <span class="">Yo</span>
            </div>
            <div class="message">
              <p> Perfecto, te llamo en unos minutos.</p>
              <span class="msg-time">5:07 pm</span>
            </div>
          </li>











        </ul>
      </div>
      <div class="input-area">
        <div class="input-wrapper">
          <input type="text" value="">
          <i class="fa fa-smile-o"></i>
          <mat-icon class="pb-0">
            attach_file
          </mat-icon>
        </div>
        <input type="button" value="Enviar" class="send-btn">
      </div>
    </div>

  </div>
</div>
