/* You can add global styles to this file, and also import other style files */
// import Montserrat font
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  overflow-y: hidden;
  min-height: 100%;
  background: #e1e1e1;
}
