form {
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  width: fit-content;
  padding: 5rem;
}

mat-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  padding: 2rem;

  button {
    margin-top: 1rem;
  }

  .register {
    margin-top: 1rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  form {
    padding: 2rem 0;
  }
}
