<div class="header">
  <div class="container">
    <a class="logo" [routerLink]="['/home']">
      <img src="../../../../assets/img/8.png" alt="logo">
      <!-- <mat-icon>style</mat-icon> -->
      <h1>Qatarsys</h1>
    </a>

    <!-- <div class="header-navigation">
      <ul class="navigation-items">
        <li>
          <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
          <a [routerLink]="['#']">Menu</a>
        </li>
        <li>
          <a [routerLink]="['#']">Service</a>
        </li>
        <li>
          <a [routerLink]="['#']">Discover</a>
        </li>
        <li>
          <a [routerLink]="['#']">Contact</a>
        </li>
      </ul>
    </div> -->

    <div *ngIf="!token; else logged" class="header-auth">
      <div>
        <a [routerLink]="['/auth']">
          <button mat-flat-button="" class="mat-focus-indicator mat-flat-button mat-button-base">
            <span class="mat-button-wrapper">Login</span>
          </button>
        </a>
      </div>
      <div>
        <a [routerLink]="['/auth/signup']">
          <button mat-flat-button="" class="mat-focus-indicator mat-flat-button mat-button-base">
            <span class="mat-button-wrapper">Sign Up</span>
          </button>
        </a>
      </div>
    </div>

    <ng-template #logged>
      <button mat-raised-button [matMenuTriggerFor]="beforeMenu">Mi Cuenta</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['dashboard']">Dashboard</button>
        <button mat-menu-item [routerLink]="['dashboard/sell']">Vender</button>
        <button mat-menu-item [routerLink]="['dashboard/messages']">Mensajes</button>
        <button mat-menu-item (click)="logout()">Cerrar sesión</button>
      </mat-menu>
    </ng-template>


  </div>
</div>
