<form [formGroup]="myForm" autocomplete="off" (ngSubmit)="login()" class="login-form">
  <mat-card class="login">
    <mat-card-header class="mb-3">
      <mat-card-title class="mt-5 fs-4">Ingrese a su cuenta.</mat-card-title>

    </mat-card-header>

    <p>
      <mat-form-field appearance="fill" class="px-10 fs-6">
        <mat-icon matSuffix>login</mat-icon>
        <mat-label>Email</mat-label>
        <input [formControlName]="'email'" type="email" formControlName="email" matInput
          placeholder="Ej. correo@correo.com">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill" class="fs-6">
        <mat-icon matSuffix>password</mat-icon>
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" [formControlName]="'password'" matInput>
      </mat-form-field>
    </p>

    <div class="textito">
      <div class="">
        <input type="checkbox">Recuerdame
      </div>

      <a routerLink="/auth/forgot-password">
        <span>Olvido su contraseña?</span>
      </a>
    </div>

    <div>
      <button class="login-button" [disabled]="myForm.invalid" type="submit" mat-raised-button
        color="primary">Enviar</button>
    </div>
  </mat-card>

  <div class="signup">
    <div>
      <mat-card-title>Todavia no tiene cuenta?</mat-card-title>
    </div>
    <div>
      <mat-card-subtitle>Creese una aqui.</mat-card-subtitle>
    </div>
    <button mat-raised-button routerLink="/auth/signup">Unirse</button>
  </div>

</form>
