  <form action="">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Recuperar cuenta</mat-card-title>
        <mat-card-subtitle>Por favor ingrese su Email. Le enviaremos un link para crear un nuevo password
        </mat-card-subtitle>
      </mat-card-header>
      <p>
        <mat-form-field appearance="fill">
          <mat-icon matSuffix>login</mat-icon>
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput placeholder="Ej. correo@correo.com">
          <mat-hint>Ingrese su correo electronico</mat-hint>
        </mat-form-field>
      </p>
      <button type="submit" mat-raised-button color="primary">Enviar</button>
    </mat-card>
  </form>
