.footer {
  background: hsla(335, 76%, 18%, 1);
  background: linear-gradient(
    90deg,
    hsla(335, 76%, 18%, 1) 8%,
    hsla(335, 75%, 24%, 1) 21%,
    hsla(335, 76%, 18%, 1) 39%,
    hsla(335, 76%, 20%, 1) 63%,
    hsla(335, 75%, 24%, 1) 81%,
    hsla(335, 76%, 18%, 1) 95%
  );
  color: white;
  padding: 1.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
  }
}
