<mat-drawer-container class="hero">
  <div class="hero">
    <img src="../../../assets/img/5.png">
    <div class="text">
      <h2 class=" fs-1"> Encontra las figuritas que te faltan para completar tu album del mundial Qatar 2022.</h2>
      <h2> Compra, Vende e Intercambia figuritas en tu zona.</h2>

      <!-- button to home -->
      <button routerLink="/home" class="">Comenzar</button>
    </div>
  </div>
  <!-- <div class="hero2">
    <img src="../../../assets/img/3.png">


  </div> -->


</mat-drawer-container>
